*{
            padding: 0px;
            margin: 0px;
            font-family: "Century Gothic", "Arial", sans-serif;
        }
        #toppfelt{
            display: flex;
            flex-direction: row;
            background-color: salmon;
            color: tomato;
            height: 60px;
            width: 100vw;
        }
        #logo{
            font-size: 40px;
            width: 100px;
        }
        #tittel{
            width: calc(100vw - 100px);
            text-align: center;
            padding-top: 8px;
        }
        #burger{
            font-size: 50px;
            font-weight: bold;
            position: absolute;
            top: -5px;
            right: 10px;
            cursor: pointer;
        }
        #veksler{
            display: none;
        }
        #meny{
            display: none;
            background-color: rgb(37, 35, 35);
            width: 200px;
            height: 150px;
            position: absolute;
            top: 60px;
            right: 0px;
           
        }
        #meny a{
            font-size: 25px;
            color: lightslategray;
            text-decoration: none;
            padding: 10px;
        }
        #meny a:hover{
            text-decoration: underline;
        }
        #meny ul{
            list-style: none;
            text text-align: center;
        }
        #meny li{
            border-bottom: 1px solid lightgray;
        }
        #veksler:checked ~ #meny{
            display: block;
        }